@import './themes.scss';

.debug {
  border: 1px solid red !important;
}
.page {
  padding: 3vw;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;

  .title {
    display: flex;
    flex-direction: row;
    font-size: 2rem;
   
  }
   .secondaryTitle {
      display: flex;
      align-items: center;
      color: $gray;   
      font-size: 2rem;
      margin-left: 12px;
      
    }
}



.crossword {
  --cell-size: 35px;
  
  display: flex;
  flex-direction: column;
  height: fit-content;
  width:fit-content;
  border: 3px solid black;



  .row {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: fit-content;

    .cell {
      border: 1px solid black;
      display: flex;
      height: var(--cell-size);
      position: relative;
      width: var(--cell-size);

      .number-container {
        display: flex;
        font-size: 0.75em;
        height: 100%;
        position: absolute;
        width: 100%;
        padding-left: 0.2em;
        top: -0.15em;
      }

      .content-container {
        align-items: center;
        color: red;
        display: flex;
        font-size: 1.5em;
        height: 100%;
        align-items: baseline;        
        justify-content: center;
        width: 100%;
        top: 0.1em;
        position: relative;
        user-select: none;
        text-transform: uppercase;
      }
      &.correct {
        color: green;
      }

      &.selected-secondary {
        background: lightblue;
      }

      &.selected {
        background: yellow;
      }
    
      &.black {
        background-color: black;
      }
    }
  }

}
