@import "./palette.scss";

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 0 2rem;

  .color-bar {
    height: 20px;
    width: 100vw;
  }
}

.main {
  align-items: center;
  display: flex;
  flex: 1; 
  flex-direction: column;
  justify-content: center;
  padding: 5rem 0;
 
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.skill-list {
  display: grid;
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  grid-template-columns: repeat(3, 1fr);

  .skill-section {
    border-image: linear-gradient(
      to top, 
      $theme-teal,
      $theme-green, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
    border-style: solid;
    border-width: 0 0 0 50px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    min-height: 250px;
    min-width: 200px;
    position: relative;
    width: 95%;
  

    .skill-name-container                                              {

      h3 {
        background: none;
        bottom: -20px;
        color: white;
        left: -40px;
        position: absolute;
        text-align: left;
        transform: rotate(-90deg);
        transform-origin: top left;
      
      }
    }

    ul {
      font-family: "Nanum Gothic Coding", monospace;
      font-size: 1.2em;
      list-style-type: none;
    }
  
  }
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  padding: unset;
  position: relative;
  width: 100vw;

 
  
  a {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }

  ul {
    list-style-type: none;

    a {

      display: unset;
    }
  }
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  font-size: 3rem;
  line-height: 1.15;
  margin: 0;
}

.title,
.description, .subtitle {
  text-align: center;
}

.subtitle {
  font-size: 1rem;
  font-weight: lighter;
}

.description {
  font-size: 1.5rem;
  line-height: 1.5;
}

.center {
  align-items: center;
  display: flex;
  justify-content: center;
}

@media (max-width: 700px) {

  .projects {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .skill-list {

    grid-template-columns: repeat(2, 1fr);
  }
    
}

@media (max-width: 400px) {

  .skill-list {
    grid-template-columns: repeat(1, 1fr);
  }

}