.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 0 2rem;
}

.main {
  align-items: center;
  display: flex;
  flex: 1; 
  flex-direction: column;
  justify-content: center;
  padding: 5rem 0;
 
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.footer {
  align-items: center;
  border-top: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  padding: unset;
  position: relative;
  width: 100vw;

 
  
  a {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }

  ul {
    list-style-type: none;

    a {

      display: unset;
    }
  }
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  font-size: 3rem;
  line-height: 1.15;
  margin: 0;
}

.title,
.description, .subtitle {
  text-align: center;
}

.subtitle {
  font-size: 1rem;
  font-weight: lighter;
}

.description {
  font-size: 1.5rem;
  line-height: 1.5;
}

.center {
  align-items: center;
  display: flex;
  justify-content: center;
}

@media (max-width: 700px) {

  .projects {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
    
}
