$theme-green: rgb(128, 190, 46);
$theme-blue: rgb(7, 133, 101);

.link {
    background: linear-gradient("#ffff00", $theme-green);
    font-weight: bolder;
    position: relative;

    &::after {
        background: linear-gradient(90deg, $theme-blue, $theme-green);
        border-radius: 4px; 
        bottom: 2px;
        content: "";
        height: 3px;
        left: 0px;
        position: absolute;

        transition: width 0.2s;
        width: 0%;
    }

    &:hover::after {
        width: 100%;
    }
   
}

